doctype html
html(lang="jp")
    head
        title="Daily Goal"
        != LRScript
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        script(type='text/javascript')
        script(src="/node_modules/jquery/dist/jquery.js")
        script(src="/node_modules/jquery-ui/jquery-ui.js")
        script(src="/node_modules/bootstrap/dist/js/bootstrap.js")
        link(href="/node_modules/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
        
    body
        div(id="main")
        script(src="/dist/common.js")
        script(src="/dist/main.js")
